@charset "UTF-8";
/* CSS Document */
.header {
	display: flex;
	justify-content: flex-start;
	background-color: #000;
}

.header a {
	width: 0px;
	height: 0px;
	color: #fff;
}

.header-logo {
	padding: 10px 0px 5px 15px;
}

.header-logo img{
	width:50px;
	height:auto;
	color: #fff;
}

.header-list {
  padding: 0px;
}

.header-list li {
	list-style-type: none;
	float: left;
	padding: 5px 18px 0px 18px;
}

.header-list a {
	font-size: 15px;
	color: #fff;
}

.main1 {
	display: flex;
	justify-content:center;
	flex-direction: column;
	padding: 100px 0px 0px 0px;
	background-image:url("");
	background-position:left;
}

.main-logo{
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-bottom: 25px;
	font-family:ヒラギノ明朝 ProN, "serif";
}

.main-logo h3{
	margin: 0px;
	padding: 0px;
}

.main-logo a{
	color:#000;
	margin: 0px;
	padding: 0px;
	font-size:20px;
}

.main2 {
	display: flex;
	justify-content:center;
	flex-direction: column;
	padding: 100px 0px 0px 0px;
	background-image:url("");
	background-position:left;
}

.main3 {
	display: flex;
	justify-content:center;
	flex-direction: column;
	padding: 100px 0px 0px 0px;
	background-image:url("");
	background-position:left;
}

.contents-line {
	margin: 25px 0px;
	padding: 0px;
}

.contents{
	display: flex;
	flex-direction: row;
	justify-content:center;
	margin: 0% 10%;
}

.contents-logo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin:0px 0px 20px 0px;
	text-align: center;
}


.contents-logo span{
	font-size: 30px;
	padding: 0px;
	font-family:ヒラギノ明朝 ProN, "serif";
}

.contents-line{
	display: flex;
	flex-direction: row;
	width: 880px;
	margin: 0px 200px 10px 200px;
	padding: 0px;
	border:groove thin #000 ;
	justify-content: center;
}

.contents{
	display: flex;
	width: auto;
	height: auto;
	flex-direction: row;
	flex-wrap: wrap;
}

.contents1 {
	display: flex;
	flex-direction: row;
	width: 100%;
	border:outset 10px #A0A0A0;
	margin: 0% 15%;
	
}

.contents span{
	font-size: 25px;
	margin:15px;
	color:#000;
	font-family:"Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", "sans-serif";
	list-style-type: none;
}

.contents p{
	font-size: 18px;
	margin:15px;
	color:#000;
	font-family:"Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", "sans-serif";
}

.contents img{
	width:200px;
	height: auto;
	margin: 0px 50px 5px 50px;
	justify-content: center;
}

.footer{
	background-color:#000000;
	padding: 150px 0px 50px 0px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	color: #fff;
}

.account a{
	padding:0px;
	font-size: 20px;
	float: left;
	color:#fff
}

.account h1{
	padding:0px;
	font-style:oblique;
}

.account img{
	width: 125px;
	height: auto;
}

.mark-list li{
	list-style-type:none;
	font-size: 15px;
	color:#fff;
	justify-content: center;
	align-items: center;
}

