body {
	margin: 0px;
	padding: 0px;
	font-family:"Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", "sans-serif";
}

.header {
	display: flex;
	justify-content: flex-start;
	position: fixed;
	width: 100%;
	background-color: #000;
}

.header a {
	width: 0px;
	height: 0px;
	color: #fff;
	font-weight: 500;
}

.header-logo {
	padding: 10px 0px 5px 15px;
}

.header-list li {
	list-style-type: none;
	float: left;
	padding: 5px 18px 0px 18px;
}

.header-list a {
	font-size: 17px;
	color: #fff;
}

#main {
	display: flex;
	flex-direction: column;
	width: 60%;
	padding: 30px 20%;
}

@media screen and (max-width: 1000px) {
#main {
	display: flex;
	flex-direction: column;
	width: 94%;
	padding: 30px 3%;
}
}

.main {
	display: flex;
	flex-direction: column;
	background-image:url("");
	background-position:left;
}

.main-logo{
	display: flex;
	flex-direction: column;
	text-align: center;
}

#main1 .main-logo {
	color: #39f;
}

#main2 .main-logo {
	color: #0c6;
}

#main3 .main-logo {
	color: #f93;
}

.main-logo h1{
	margin: 70px 0px 10px 0px;
	padding: 0px;
}

.contents-line {
	display: flex;
	width: auto;
	margin: 25px 0px 0px 0px;
	padding: 0px;
	justify-content: center;
}

#main1 .contents-line {
	border:groove medium #39f;
}

#main2 .contents-line {
	border:groove medium #0f6;
}

#main3 .contents-line {
	border:groove medium #f93;
}

.contents {
	display: flex;
	flex-direction: row;
	width: auto;
	min-width: 0;
	margin: 30px 0px 0px 0px;
	background-color: #fff;
}

#main1 .contents {
	border:outset 10px #6cf;
}

#main2 .contents {
	border:outset 10px #3f9;
}

#main3 .contents {
	padding: 7px;
	border:outset 10px #fc3;
	font-weight: bold;
}

.contents span{
	font-size: 25px;
	margin:15px;
	color:  #c07;
}

.contents p{
	font-size: 20px;
	margin:15px;
}

.contents .span span {
	font-size: 20px;
	margin: 10px;
}

.footer{
	background-color:#000;
	padding: 50px 0px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	color: #fff;
}

.account h1{
	font-style:oblique;
}
